.item-card {
  position: relative;
  padding: 20px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-name {
  font-size: 18px;
  font-weight: 600;
}
.item-stoff {
}
.item-beschreibung {
  text-align: center;
}
.item-preis {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  bottom: 65px;
}
.item-kaufen {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid black;
  transition: all 0.2s ease;
  background-color: white;
}
.item-kaufen:hover {
  background-color: rgb(252, 31, 31);
  color: white;
  border: white;
  transition: all 0.2s ease;
}

/*Extra Ingredient*/
.ask-zusatz-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
}
.ask-zusatz-container.hide {
  display: none;
}
.ask-zusatz-container .black-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.ask-zusatz-content {
  position: fixed;
  width: 650px;
  height: 90%;
  top: 5%;
  left: 50%;
  margin-left: -325px;
  background-color: black;
  border: 3px solid white;
  color: white;
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.ask-zusatz-head {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ask-zusatz-head-titel {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 20px;
}
.ask-zusatz-close {
  color: black;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 32px;
  height: 20px;
  opacity: 1;
}
.ask-zusatz-close:hover {
  opacity: 0.7;
}
.ask-zusatz-close:before,
.ask-zusatz-close:after {
  position: absolute;
  right: 10px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: white;
}
.ask-zusatz-close:before {
  transform: rotate(45deg);
}
.ask-zusatz-close:after {
  transform: rotate(-45deg);
}

.ask-zusatz-head-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.ask-zusatz-head-header-summe {
  font-size: 20px;
}
.ask-zusatz-head-header-summe span {
  color: var(--color-accent1);
  font-weight: 600;
}
.ask-zusatz-head-item-kaufen {
  font-size: 18px;
}
.ask-zusatz-head-added-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  border-top: 4px solid var(--color-accent1);
  border-left: 4px solid var(--color-accent1);
  border-bottom: 4px solid var(--color-accent1);
  padding: 5px;
  max-height: 120px;
  overflow-y: scroll;
}
.ask-zusatz-head-added-items::-webkit-scrollbar-track {
  background-color: var(--color-accent1);
}

.ask-zusatz-head-added-items::-webkit-scrollbar {
  width: 4px;
  background-color: var(--color-accent1);
}

.ask-zusatz-head-added-items::-webkit-scrollbar-thumb {
  background-color: white;
}
.ask-zusatz-head-added-item {
  display: flex;
  flex-direction: row;
  align-items: self-start;
}
.ask-zusatz-item-count {
  color: #ffc300;
}

/*Extra Ingredient Körper*/
.ask-zusatz-body {
  height: 100%;
  overflow-y: scroll;
  /* border-left: 4px solid var(--color-accent1);
  border-bottom: 4px solid var(--color-accent1);*/
  padding: 5px;
}
.ask-zusatz-body::-webkit-scrollbar-track {
  background-color: var(--color-accent1);
}
.ask-zusatz-body::-webkit-scrollbar {
  width: 4px;
  background-color: var(--color-accent1);
}

.ask-zusatz-body::-webkit-scrollbar-thumb {
  background-color: white;
}

.ask-zusatz-body-section {
  margin-top: 15px;
}
.ask-zusatz-body-section-name {
  font-size: 17px;
  font-weight: 600;
}
.ask-zusatz-body-section-items {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 10px 7px 0px 7px;
}
.ask-zusatz-body-section-item {
  display: flex;
  flex-direction: row;
}

.ask-zusatz-item-button {
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin-top: 2px;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ask-zusatz-body-section-item-add:hover {
  background-color: var(--color-accent1);
}

/*Für Zusatz2*/
.ask-zusatz-body-section-select {
  font-size: 17px;
  margin-top: 5px;
}

/*Text area*/
.ask-zusatz-body-section-textfeld-container {
  margin-top: 15px;
  border-top: 1px solid white;
  padding-top: 10px;
}
.ask-zusatz-body-section-textfeld-beschreibung {
  display: block;
  color: var(--color-accent1);
  font-size: 19px;
  font-weight: 600;
  line-height: 80%;
}
.ask-zusatz-body-section-textfeld-beschreibung span {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.ask-zusatz-body-section-textfeld {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
  font-size: 16px;
}

@media (max-width: 800px) {
  .item-card {
    position: relative;
    padding: 20px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .item-name {
    position: absolute;
    font-size: 22px;
    font-weight: 600;
    top: 2px;
    left: 5px;
  }
  .item-stoff {
  }

  .item-beschreibung {
    position: absolute;
    font-size: 15px;
    text-align: left;
    min-width: 450px;
    bottom: 5px;
    left: 7px;
  }
  .item-preis {
    position: absolute;
    font-size: 22px;
    font-weight: 600;
    top: 2px;

    right: 120px;
  }
  .item-kaufen {
    position: absolute;
    padding: 0 0 0 5px;
    width: 110px;
    height: 110px;
    bottom: 0px;
    right: 0px;
    font-size: 17px;
    text-align: left;
    border-radius: 0 15px 15px 0;
    border: 5px solid black;
    border-left: 5px solid black;
    background-color: white;
    transition: all 0.2s ease;
  }
  .item-kaufen:hover {
    border: 5px solid black;
    border-left: 0px;
    background-color: rgb(252, 31, 31);
    color: white;
    transition: all 0.2s ease;
  }
  /*Extra ingredients*/
  .ask-zusatz-content {
    width: 450px;
    left: 50%;
    margin-left: -225px;
  }
}
@media (max-width: 800px) {
  .item-beschreibung {
    width: 350px;
  }
}
@media (max-width: 615px) {
  .item-card {
    height: 130px;
  }
  .item-name {
    position: absolute;
    font-size: 22px;
    width: 300px;
    word-wrap: normal;
  }
  .item-stoff {
  }
  .item-beschreibung {
    min-width: 300px;
  }
  .item-kaufen {
    height: 130px;
    font-size: 17px;
    transition: all 0.2s ease;
  }
}

@media (max-width: 550px) {
  .item-card {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .item-name {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    top: 2px;
    left: 5px;
  }
  .item-stoff {
  }
  .item-beschreibung {
    position: absolute;
    font-size: 15px;
    text-align: left;
    width: 225px;
    left: 7px;
  }
  .item-preis {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    right: 110px;
  }
  .item-kaufen {
    position: absolute;
    font-size: 15px;
    padding: 0 0 0 5px;
    width: 100px;
    height: 150px;
    bottom: 0px;
    right: 0px;
    text-align: left;
    border-radius: 0 15px 15px 0;
    border: 5px solid black;
    border-left: 5px solid black;
    background-color: white;
    transition: all 0.2s ease;
  }

  .ask-zusatz-content {
    width: 350px;
    left: 50%;
    margin-left: -175px;
  }
  .ask-zusatz-head-header-summe {
    font-size: 16px;
  }
  .ask-zusatz-head-item-kaufen {
    font-size: 14px;
  }
  .ask-zusatz-head-added-items {
    font-size: 14px;
    gap: 7px;
    padding: 5px;
    max-height: 120px;
    overflow-y: scroll;
  }
  .ask-zusatz-body-section-name {
    font-size: 16px;
  }
  .ask-zusatz-body-section-items {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    padding: 10px 7px 0px 7px;
  }
  .ask-zusatz-body-section-select {
    font-size: 15px;
    margin-top: 5px;
  }
  .ask-zusatz-body-section-textfeld-beschreibung {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .ask-zusatz-content {
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
}

@media (max-width: 460px) {
  .item-card {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .item-name {
    position: absolute;
    width: 150px;
    word-wrap: normal;
    font-size: 18px;
    font-weight: 600;
    top: 2px;
    left: 5px;
  }
  .item-stoff {
  }

  .item-beschreibung {
    font-size: 12px;
    min-width: 150px;
  }
  .item-preis {
    right: 95px;
  }
  .item-kaufen {
    font-size: 12px;
    width: 85px;
  }
}
@media (max-width: 425px) {
  .item-beschreibung {
    min-width: 150px;
  }
}
@media (max-width: 376px) {
  .item-beschreibung {
    font-size: 11px;
    width: 125px;
  }
}
@media (max-width: 370px) {
  .item-name {
    font-size: 13px;
    word-wrap: normal;
    width: 125px;
  }
  .item-preis {
    font-size: 13px;
    right: 20px;
    top: 10px;
    z-index: 2;
  }
}
@media (max-width: 281px) {
  .item-beschreibung {
    font-size: 9px;
    min-width: 79px;
  }
}
