.black-box {
  width: 100%;
  height: 170px;
  background-color: black;
}
.menu-hero-titel {
  background-color: black;
  padding: 10px 0px 10px 0px;
  font-family: "Parisienne", sans-serif;
  color: #fc1f1f;
  font-weight: 500;
  font-size: 100px;
  width: 100%;
  text-align: center;
  border-radius: 0 0 25% 25%;
}
@media (max-height: 450px) {
  .black-box {
    display: none;
  }
}
@media (max-width: 800px) {
  .black-box {
    display: none;
  }
}
@media (max-width: 450px) {
  .menu-hero-titel {
    font-size: 70px;
  }
}
