.black-box {
  width: 100%;
  height: 100px;
  background-color: black;
}
.menu-hero-img {
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url("../../../asset/vintage-old-rustic-cutlery-dark-low.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
.menu-hero-titel {
  font-family: "Parisienne", sans-serif;
  color: #fc1f1f;
  text-shadow: 8px 8px black;
  font-weight: 400;
  font-size: 100px;
  margin-top: 45vh;
}
@media (max-height: 300px) {
  .black-box {
    display: none;
  }
}
@media (max-width: 800px) {
  .black-box {
    display: none;
  }
}
