.black-box {
  width: 100%;
  height: 170px;
  background-color: black;
}
.menu-hero-titel {
  font-family: "Parisienne", sans-serif;
  color: #fc1f1f;
  text-shadow: 3px 3px black;
  font-weight: 500;
  font-size: 100px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
@media (max-height: 450px) {
  .black-box {
    display: none;
  }
}
@media (max-width: 800px) {
  .black-box {
    display: none;
  }
}
@media (max-width: 450px) {
  .menu-hero-titel {
    font-size: 70px;
  }
}
