.cart-card {
  border: 2px solid white;
}
.cart-card-zusatz {
  width: 20px;
  height: 20px;
  background-color: white;
}
.cart-card-zusatz:hover {
  background-color: greenyellow;
}
.cart-card-header {
  display: flex;
  flex-direction: row;
}
.cart-card-ingredients {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
