.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
}
.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}
.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  padding: 0;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.5rem;
  cursor: pointer;
}
.indicator-inactive {
  background-color: grey;
}

@media (max-width: 850px) {
  .carousel {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .carousel {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 310px) {
  .carousel {
    width: 250px;
    height: 150px;
  }
}
