.search-container {
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
}
.search-bar {
  width: 300px;
  height: 50px;
  background-color: white;
  border: 2px solid var(--color-accent1);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.search-input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}
.searched-items-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.searched-item {
  width: 300px;
  height: 275px;
  border: 3px solid var(--color-accent1);
  color: white;
  background-color: black;
  border-radius: 10%;
}
.searched-item .item-name {
  color: var(--color-accent1);
}
.searched-item .item-stoff {
  color: white;
}
.searched-item .item-beschreibung {
  color: white;
}
@media (max-height: 450px) {
  .searched-items-holder {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .searched-item {
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0;
    border-radius: 15px;
  }
  .searched-item .add-icon {
    color: var(--color-accent1);
    transition: all 0.2s ease;
  }
  .searched-item .item-card-content:hover .add-icon {
    color: red;
    transition: all 0.2s ease;
  }
}
@media (max-width: 800px) {
  .searched-items-holder {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .searched-item {
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0;
    border-radius: 15px;
  }
  .searched-item .add-icon {
    color: var(--color-accent1);
    transition: all 0.2s ease;
  }
  .searched-item .item-card-content:hover .add-icon {
    color: red;
    transition: all 0.2s ease;
  }
}
@media (max-width: 450px) {
  .search-bar {
    width: 250px;
    height: 40px;
    background-color: white;
    border: 2px solid var(--color-accent1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .search-input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 13px;
    padding-left: 10px;
  }
}
